$color_nhsuk-dark-blue: #005eb8;

$btn-default-text: $color_nhsuk-black;
$btn-default-background: $color_nhsuk-white;

$btn-primary-text: $color_nhsuk-white;
$btn-primary-background: $color_nhsuk-blue;
$btn-primary-border: $color_nhsuk-blue;

$btn-secondary-text: $color_nhsuk-white;
$btn-secondary-background: $color_nhsuk-dark-blue;
$btn-secondary-border: $color_nhsuk-dark-blue;

#page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  #page {
    padding-top: 3rem;
  }

  svg {
    max-height: 50px;
  }
}

body.limitedwidth #page.drawers .main-inner {
  max-width: 960px;
}
.header-maxwidth {
  max-width: 960px;
}

#page.drawers {
  margin-top: 0;
  .main-inner {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  #page.drawers {
    padding-left: 0;
    padding-right: 0;
  }
}

.bg-dark {
  color: $btn-primary-text;
  background-color: $btn-primary-background !important;
  * {
    color: $btn-primary-text !important;
  }
}

.bg-light {
  color: $color_nhsuk-grey-1;
  background-color: $btn-default-background !important;
  * {
    color: $color_nhsuk-grey-1 !important;
  }
}

// Header navigation and tabs

.nhsuk-header__navigation-link {
  color: $color_nhsuk-white;

  &:visited {
    color: $color_nhsuk-white;
  }

  &.active {
    border-bottom: 4px solid $color_nhsuk-white;
  }

  &:checked {
    color: $color_nhsuk-black;
    border-bottom: 4px solid $color_nhsuk-black;
  }
}

// Header navigation tabs only

.nav-tabs {
  .nhsuk-header__navigation-link {
    color: $color_nhsuk-blue;
    border-bottom: 0;

    &:visited {
      color: $color_nhsuk-blue;
    }

    &.active {
      background-color: $color_nhsuk-white;
    }

    &:checked {
      color: $color_nhsuk-blue;
    }
  }
}

// Header navigation light variation

.nhsuk-header__light {
  background-color: $color_nhsuk-white;
  .nhsuk-header__navigation {
    color: $btn-default-text;
    background-color: $btn-default-background;
    .nhsuk-header__service-name {
      color: $btn-default-text;
    }
  }

  .nhsuk-header__navigation-link {
    &:visited {
      color: $color_nhsuk-black;
    }
    &.active {
      border-bottom: 4px solid $color_nhsuk-blue;
    }
    &:checked {
      color: $color_nhsuk-white;
      border-bottom: 4px solid $color_nhsuk-white;
    }
  }
}

.navbar-toggler-icon {
  width: 2.0em;
  height: 2.0em;
}

.icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  padding-top:0;
  padding-bottom:0;
}

.navbar-expand .navbar-nav .nav-link {
  padding-top: 15px;
}

.popover-region-header-container {
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.drawerheader {
  height: 84px;
}

.navbar-expand {
  .navbar-nav {
    margin-top: .2em;
    margin-left: .2em;
  }
}

.navbar {
  color: $btn-primary-text;
  background-color: $btn-primary-background;
  box-shadow: none;
  padding: 0;

  .divider {
    display: none;
  }

  .dropdown-toggle::after {
    display: none;
    color: $btn-primary-text;
  }

  .popover-region .popover-region-container {
    top: 84px;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .nav-link {
    color: $btn-primary-text;
  }

  .primary-navigation {
    .navigation {
      .nav-link {
        box-shadow: none;
        -moz-outline-style: none;
        height: auto;
        border-top: 0;
        outline: 0;
      }
    }
  }

  .navbar-brand {
    color: $btn-primary-text;
  }

  .navbar-nav {
    .btn {
      color: $btn-primary-text;
      background-color: $btn-primary-background;
      border-color: transparent;
      border-bottom: none;
    }

    .custom-control-input:checked~.custom-control-label::before {
      color: $btn-primary-text;
      background-color: $btn-default-background;
      border-color: $btn-default-background;
    }

    .custom-control-input:checked~.custom-control-label::after {
      background-color: $btn-primary-background;
    }

    .text-primary {
      color: $btn-primary-text!important;
    }
  }

  &.navbar__light {
    color: $btn-default-text;
    background-color: $btn-default-background;
    .navbar-brand {
      color: $btn-default-text;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .nav-link {
      color: $btn-default-text;
    }

    .navbar-nav {
      .btn {
        color: $btn-default-text;
        background-color: $btn-default-background;
        border-color: transparent;
        border-bottom: none;
      }
    }

    .custom-control-input:checked~.custom-control-label::before {
      color: $btn-primary-text;
      background-color: $btn-primary-background;
      border-color: $btn-primary-background;
    }

    .custom-control-input:checked~.custom-control-label::after {
      background-color: $btn-default-background;
    }

    .dropdown-toggle::after {
      color: $btn-default-text;
    }

    .primary-navigation {
      .navigation {
        color: $btn-default-text;
        background-color: $btn-default-background;
      }

      .navbar-nav {
        .show > .nav-link, .active > .nav-link, .nav-link.show, .nav-link.active {
          color: $btn-primary-text;
          background-color: $btn-primary-background;
          border-color: transparent;
          border-bottom-color: $btn-default-background;
        }

        .nav-link:hover {
          color: $btn-default-text;
          background-color: $btn-default-background;
          border-color: transparent;
          border-bottom-color: $btn-primary-background;
        }
      }
    }

    .text-primary {
      color: $btn-default-text!important;
    }
  }

  &.navbar__dark {
    color: $btn-primary-text;
    background-color: $btn-primary-background;

    .navbar-brand {
      color: $btn-primary-text;
    }

    .nav-link {
      color: $btn-primary-text;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .primary-navigation {
      .navigation {
        color: $btn-primary-text;
        background-color: $btn-primary-background;
      }

      .navbar-nav {
        .show > .nav-link, .active > .nav-link, .nav-link.show, .nav-link.active {
          color: $btn-default-text;
          background-color: $btn-default-background;
          border-color: transparent;
          border-bottom-color: $btn-primary-background;
        }

        .nav-link:hover {
          color: $btn-primary-text;
          background-color: $btn-primary-background;
          border-color: transparent;
          border-bottom-color: $btn-default-background;
        }
      }
    }
  }
}

.btn-primary {
  color: $btn-primary-text;
  background-color: $btn-primary-background;
  border-color: $btn-primary-border;
  border-radius: 0;

  &:hover {
    background-color: $btn-secondary-background;
    border-color: $btn-secondary-border;
  }
}

.card {
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  background-color: $color_nhsuk-grey-5;
  margin: 0;
}

.drawers .block_myoverview>.card-body {
  padding: 1.25rem!important;
}

.dropdown-menu {
  min-width: 20rem;
}

#frontpage-available-course-list {
  .coursebox {
    @extend .nhsuk-care-card__content;
    border-radius: 0;
    border-top: 1px solid $color_nhsuk-grey-4;

    & > .info {
      @extend .nhsuk-card__heading;
      & > .coursename {
        @extend .nhsuk-card__heading;
        font-size: 1.5rem;
        font-weight: bold;

        & a {
          color: inherit;
        }
      }
    }
    & > .content {
      @extend .nhsuk-card__description;
    }
  }
}

.simplesearchform .input-group input.form-control {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

[data-region=right-hand-drawer].drawer {
  top: 84px;
}

.nhsuk-header__service-name {
  display: none;
}

.popover-region-toggle::before, .popover-region-toggle::after {
  display: none;
}

@media (min-width: 480px) {
  .navbar {
    .popover-region {
      .popover-region-container {
        top: 49px;
      }
    }
    .popover-region-toggle::before, .popover-region-toggle::after {
      display: inline-block;
    }
  }
}

@media (min-width: 640px) {
  [data-region=right-hand-drawer].drawer {
    top: 92px;
  }
  .navbar {
    .divider {
      display: block;
    }
    .dropdown-toggle::after {
      display: inline-block;
    }
  }
  .nhsuk-header__service-name {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: block !important;
  }
  [data-region=right-hand-drawer].drawer {
    top: 92px;
  }
  body.limitedwidth {
    #page.drawers {
      .footer-popover {
        max-width: none;
      }
    }
  }
}

@media (min-width: 990px) {
  .d-md-none {
    display: none !important;
  }
  [data-region=right-hand-drawer].drawer {
    top: 147px;
  }
  .drawer-left, .drawer-right {
    top: 147px;
  }
}

.dashboard-card-deck {
  .dashboard-card {
    background-color: $color_nhsuk-white;
    .dashboard-card-img {
      border-radius: 0;
    }
  }
}
