/* ==========================================================================*/
// BUTTON STYLES
// ==========================================================================*/

.btn {
  &:not(.btn-icon,
    .btn-close,
    .btn-link,
    .btn-open,
    .search-icon,
    .navbar .dropdown-toggle,
    .icon-no-margin) {
    @extend .nhsuk-button--small;
    box-shadow: 0 2px 0 core.$nhsuk-button-shadow-colour;
  }

  &.disabled {
    @extend .nhsuk-button--disabled !optional;
    box-shadow: 0 2px 0 core.$nhsuk-button-shadow-colour;
  }

  &.active,
  &.visited {
    @extend .nhsuk-button--reverse;
    box-shadow: 0 2px 0 core.$nhsuk-button-shadow-colour;
  }

  &.text-primary {
    color: $btn-secondary-text !important;
  }
}

.btn {
  &.btn-secondary,
  &.btn-outline-secondary {
    @extend .nhsuk-button--small;
    @extend .nhsuk-button--secondary;
    box-shadow: 0 2px 0 core.$nhsuk-button-shadow-colour;

    &:visited {
      color: #005eb8 !important;
    }
  }
}

.btn-group>.btn:not(:first-child),
.btn-group>.btn:not(:last-child):not(.dropdown-toggle),
.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn-group:not(:last-child)>.btn {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

#navbuttons {
  input[type="submit"] {
    @extend .nhsuk-button--small;
  }
}

.nhsuk-button--secondary::after,
.btn.btn-secondary::after,
.btn.btn-outline-secondary::after,
.nhsuk-button--secondary-solid::after {
  box-shadow: none !important;
}

// Prevent the buttons that have dropdowns having the drop shadow
.btn.dropdown-toggle,
.btn-outline-secondary.dropdown-toggle {
  box-shadow: none !important;
}

.nhsuk-button--secondary:hover,
.btn.btn-secondary:hover,
.btn.btn-outline-secondary:hover,
.nhsuk-button--secondary-solid:hover {
  background-color: #d9e7f4 !important;
  color: #212b32 !important; // or use NHSUK’s $nhsuk-text-color
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: #212b32 !important; // or use NHSUK’s $nhsuk-text-color
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #212b32 !important;
  background-color: #fff !important; // or transparent
  border: 2px solid #212b32 !important;
  box-shadow: inset 0 0 0 2px #212b32 !important;
  outline: 4px solid #ffeb3b !important;
  outline-offset: 0 !important;
  text-decoration: none !important;
}

/* Apply NHSUK Frontend secondary button styles to Bulk enable button on course management page */
button.bulkEnable {
  @extend .nhsuk-button--secondary;
}
